# Server variables
BETTER_AUTH_SECRET=zZcnOqQ6hR1nvYin80pOS0QQaTZ5fT6h # You can generate a new one at: https://www.better-auth.com/docs/installation
DATABASE_URL=postgres://postgres:123456789@localhost:7501/postgres # This is the db url from pnpm run dev:setup (Docker required)
GITHUB_CLIENT_ID= # Don't worry about these; if you want you can create a github app
GITHUB_CLIENT_SECRET= # Just use magic link to test locally

# Shared Variables

# Base URLs (these are setup for local development, don't edit unless you know what you are doing)
NEXT_PUBLIC_AUTH_BASE_URL='http://localhost:3001'
NEXT_PUBLIC_API_BASE_URL='http://localhost:5000'
NEXT_PUBLIC_DOCS_BASE_URL='http://localhost:3002'
NEXT_PUBLIC_LANDING_BASE_URL='http://localhost:3000'
NEXT_PUBLIC_LEARN_BASE_URL='http://localhost:3003'
NEXT_PUBLIC_SCOUT_BASE_URL='http://localhost:3004'
NEXT_PUBLIC_ATTENDANCE_BASE_URL='http://localhost:3005'

NODE_ENV='development'
